<a href="https://colab.research.google.com/github/HarshivBhatt/EDA_Project_Airbnb_booking_Analysis.ipynb/blob/main/EDA_Project_Airbnb_booking_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Analysis on Airbnb booking

---
1.   What is the average preferred price by customers according to the location?

2.   No. of active host per location (Where most of the host focused to own property)

5.   What is the highest price and lowest price of rent for customer according to location **OR** which host takes highest rent and lowest rent according to location
2.   Most famous/demanded host of Airbnb in New york

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (10, 5)
import seaborn as sns

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
file_path = "/content/drive/MyDrive/Colab Notebooks/EDA Project part-1/"
df = pd.read_csv(file_path + "Airbnb NYC 2019.csv")

In [ ]:
df.info()

In [6]:
airbnb_df = df.dropna()

In [8]:
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38821 entries, 0 to 48852
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              38821 non-null  int64
 1   name                            38821 non-null  object
 2   host_id                         38821 non-null  int64
 3   host_name                       38821 non-null  object
 4   neighbourhood_group             38821 non-null  object
 5   neighbourhood                   38821 non-null  object
 6   latitude                        38821 non-null  float64
 7   longitude                       38821 non-null  float64
 8   room_type                       38821 non-null  object
 9   price                           38821 non-null  int64
 10  minimum_nights                  38821 non-null  int64
 11  number_of_reviews               38821 non-null  int64
 12  last_review                     38821 non-null  object
 13  reviews_per_month               38821 non-null  float64
 14  calculated_host_listings_count  38821 non-null  int64
 15  availability_365                38821 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 5.0+ MB

In [ ]:
airbnb_df.head()

In [ ]:
airbnb_df.describe()

In [11]:
airbnb_df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

#1.What is the average preferred price by customers according to the location?

In [ ]:
airbnb_df.head()

In [13]:
#Average_price of property according to the location
airbnb_df.groupby(['neighbourhood_group','room_type'], as_index=False)['price'].mean().rename(columns={'neighbourhood_group':'Location','price':'Average Price'})

         Location        room_type  Average Price
0           Bronx  Entire home/apt     120.938312
1           Bronx     Private room      57.093511
2           Bronx      Shared room      56.930233
3        Brooklyn  Entire home/apt     171.281897
4        Brooklyn     Private room      73.349562
5        Brooklyn      Shared room      45.458621
6       Manhattan  Entire home/apt     230.200964
7       Manhattan     Private room     106.607488
8       Manhattan      Shared room      77.980337
9          Queens  Entire home/apt     139.225603
10         Queens     Private room      69.302838
11         Queens      Shared room      64.467105
12  Staten Island  Entire home/apt     125.366667
13  Staten Island     Private room      57.584906
14  Staten Island      Shared room      57.600000

#2. No. of active host per location (Where most of the host focused to own property)

In [14]:
no_of_host_per_location = airbnb_df.groupby('neighbourhood_group',as_index=False)['host_id'].count().sort_values(['host_id'], ascending=False).rename(columns={'neighbourhood_group':'Location','host_id':'Host'})
no_of_host_per_location

        Location   Host
2      Manhattan  16621
1       Brooklyn  16439
3         Queens   4572
0          Bronx    875
4  Staten Island    314

#Answer: Manhattan is most focused place for host to do their business